body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
}

h1 {
  margin-top: 30px;
}

.react-logo {
  width: 55px;
  margin: 20px;
}

.header {
  display: flex;
  gap: 30px;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.footer {
  background-color: black;
  display: flex;
  height: infinite;
  border-radius: 10px;
}

.footer-item {
  padding: 20px;
  font-size: 0.9rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 20px;
}

.nav-list-item {
  font-size: 1.1rem;
}



